__pycache__/
build/
data/
dist/
docs/_api
docs/_build
htmlcov/
local/
tests/benchmarks/.benchmarks/
.coverage
.ipynb_checkpoints/
.spyproject/
*.egg-info
*.gif
*.h5
*.ini
*.mat
*.out
*.output
*.pdf
*.pyc
.pymon
