# standard install requirements
-r ./requirements.txt

scipy >= 1.10.0, <= 1.17

# building the docs
sphinx >= 3.0.0, <= 9.1
sphinx_copybutton <= 0.5.2
sphinx-rtd-theme >= 1.0, <= 3.1
sphinx-github-style >= 1.0, <= 1.2

# linting
black == 26.3
flake8 >= 5.0, <= 7.3
flake8-docstrings >= 1.0, <= 1.7
flake8-eradicate >= 1.0, <= 1.5
flake8-isort >= 5.0, <= 7.0
pre-commit <= 4.5
pyright < 1.2

# testing and benchmarking
pytest >= 5.0.0, <= 9.0
pytest-cov >= 2.6, <= 7.0
pytest-monitor <= 1.6

# building
build
