name: Black formatting

on: [pull_request, workflow_dispatch]

jobs:
  black_format:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
      - name: Check files using the black formatter
        run: |
          black --version
          black --check interpax/ tests/ || black_return_code=$?
          echo "BLACK_RETURN_CODE=$black_return_code" >> $GITHUB_ENV
          black interpax/ tests/
      - name: Annotate diff changes using reviewdog
        uses: reviewdog/action-suggester@v1
        with:
          tool_name: blackfmt
      - name: Fail if not formatted
        run: |
          exit ${{ env.BLACK_RETURN_CODE }}
