name: Weekly tests

on:
  schedule:
      - cron: '17 9 * * 1'
  workflow_dispatch:

jobs:
  unit_tests:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade -r requirements-dev.txt
          pip list
      - name: Test with pytest
        run: |
          pwd
          lscpu
          python -m pytest -v --durations=0 --cov-report xml:cov.xml --cov-config=setup.cfg --cov=interpax/ --db ./prof.db
      - name: save coverage file and plot comparison results
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: unit_test_artifact_${{ matrix.python-version }}
          path: |
            ./cov.xml
            ./prof.db
